<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define CheckVocabulary_TargetDir=$(var.CheckVocabulary.TargetDir)?>
  <?define CheckVocabularyCustomAction_TargetDir=$(var.CheckVocabularyCustomAction.TargetDir)?>
  <?define FireBaseHandler_TargetDir=$(var.FireBaseHandler.TargetDir)?>
  <?define InputData_TargetDir=$(var.InputData.TargetDir)?>
  <!--CAUTION! this defines are needed for relative paths, plus the dlls needs to be added to references-->
  
	<Product Id="*" Name="CheckVocabularyInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Csoka" UpgradeCode="01a04bdf-a07a-4359-add0-c6b0f15264bb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="CsokaSetupDialogSet" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="CheckVocabularyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="CheckVocabularyShortcutDesktop" />
      <ComponentRef Id="FireSharp.dll" />
      <ComponentRef Id="FireSharp.Serialization.JsonNet.dll" />
      <ComponentRef Id="Newtonsoft.Json.dll" />
      <ComponentRef Id="RestSharp.dll" />
      <ComponentRef Id="InputData.dll" />
      <ComponentRef Id="FireBaseHandler.dll" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CheckVocabularyInstaller" />
			</Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="CheckVocabularyShortcutDesktop" Guid="*">
        <Shortcut Id="CheckVocabularyShortcut"
                  Name="CheckVocabulary"
                  Description="CheckVocabulary"
                  Target="[#CheckVocabulary.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\MTGenBRL" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CheckVocabulary.exe" Guid="e058abac-9f87-43a8-a914-e50a2fd966d8">
			  <File Id="CheckVocabulary.exe" Name="CheckVocabulary.exe" Source="$(var.CheckVocabulary_TargetDir)CheckVocabulary.exe" />
			</Component>
			<Component Id="CheckVocabulary.exe.config" Guid="d5661721-b387-406d-a00c-573a41dd6fa0">
			  <File Id="CheckVocabulary.exe.config" Name="CheckVocabulary.exe.config" Source="$(var.CheckVocabulary_TargetDir)CheckVocabulary.exe.config" />
			</Component>
			<Component Id="CheckVocabularyCustomAction.dll" Guid="1e5bc153-c816-40e8-9e28-3dd6e7fca5db">
			  <File Id="CheckVocabularyCustomAction.dll" Name="CheckVocabularyCustomAction.dll" Source="$(var.CheckVocabularyCustomAction_TargetDir)CheckVocabularyCustomAction.dll" />
			</Component>
			<Component Id="Microsoft.Deployment.WindowsInstaller.dll" Guid="c384abd1-7796-4613-807e-bde5be4bc55e">
			  <File Id="Microsoft.Deployment.WindowsInstaller.dll" Name="Microsoft.Deployment.WindowsInstaller.dll" Source="$(var.CheckVocabularyCustomAction_TargetDir)Microsoft.Deployment.WindowsInstaller.dll" />
			</Component>

      <Component Id="FireSharp.dll" Guid="e8a81c3c-07c6-45f5-bf2f-80ed31c018bc">
        <File Id="FireSharp.dll" Name="FireSharp.dll" Source="$(var.FireBaseHandler_TargetDir)FireSharp.dll" />
      </Component>
      <Component Id="FireSharp.Serialization.JsonNet.dll" Guid="71b30621-3587-4a0b-a7d9-7d71bbeda914">
        <File Id="FireSharp.Serialization.JsonNet.dll" Name="FireSharp.Serialization.JsonNet.dll" Source="$(var.FireBaseHandler_TargetDir)FireSharp.Serialization.JsonNet.dll" KeyPath="yes" />
      </Component>
      
      <Component Id="Newtonsoft.Json.dll" Guid="16a6f24b-7ecd-4d4f-8fdb-c21dbc317022">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.FireBaseHandler_TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="RestSharp.dll" Guid="0b13fb60-ea7c-4575-b1cd-83fd6b41d9d3">
        <File Id="RestSharp.dll" Name="RestSharp.dll" Source="$(var.FireBaseHandler_TargetDir)RestSharp.dll" KeyPath="yes" />
      </Component>
      <Component Id="InputData.dll" Guid="d8141080-a8d7-4bd7-adce-4ae8303219e1">
        <File Id="InputData.dll" Name="InputData.dll" Source="$(var.InputData_TargetDir)InputData.dll" KeyPath="yes" />       
      </Component>
      <Component Id="FireBaseHandler.dll" Guid="d7333cb0-819b-46a2-b8a8-6cecdec88099">
        <File Id="FireBaseHandler.dll" Name="FireBaseHandler.dll" Source="$(var.FireBaseHandler_TargetDir)FireBaseHandler.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>